/* ------------------------ */
/* Custom properties        */
/* ------------------------ */

:root {
  /* colors */
  --clr-codgray: hsl(0, 0%, 7%);
  --clr-braveorange: hsl(22, 65%, 57%);
  --clr-breaver: hsl(27, 22%, 51%);
  --clr-white: hsl(0, 0%, 100%);

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Spartan", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* tablet media query */
@media (min-width: 35rem) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

/* desktop media query */
@media (min-width: 45em) {
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-500: 1.75rem;
    --fs-600: 2rem;
    --fs-400: 1.125rem;
  }
}

/* desktop large */
@media (min-width: 75em) {
}

/* ------------------------ */
/* Reset                    */
/* ------------------------ */

/* Reset resources */
/* https://piccalil.li/blog/a-modern-css-reset/ */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-serif);
  font-size: var(--fs-400);
  color: hsl(var(--clr-codgray));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content 1fr;

  overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------ */
/* Utility classes          */
/* ------------------------ */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex.even-columns > * {
  width: 100%;
  outline: 1px solid limegreen;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

/* "The lobotomised owl"
   All elements which have a sibling before it
  */
/* .flow > * + * {
    margin-top: 1rem;
    outline: 1px solid red;
  } */

/* Another way to do the above */
/* "Anything that's not the first child" */
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  /* outline: 1px solid red; */
}

.flow--space-small {
  --flow-space: 0.75rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

/* Colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-accent {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-accent {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}
/* ------------------------ */
/* Components        */
/* ------------------------ */

.large-button {
  font-size: 2rem;
  position: relative;
  display: inline-grid;
  z-index: 1;
  padding: 3rem;
  place-items: center;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}

.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsl(var(--clr-white) / 0.15);
  border-radius: inherit;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}
/* Contact Form Desktop */
/* Overlay */
.contact-form-modal {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  margin: auto 0;
  height: 500px;
  width: 500px;

  z-index: 5000;
}
/* Modal */

#contact-form {
  overflow: hidden;
  height: 80vh;
  width: 80vw;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: absolute;
  margin: 0 auto;
  padding: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#contact-form p:first-of-type {
  padding-bottom: 1rem;
}
#contact-form p:last-of-type {
  display: none;
}
.form-control {
  padding: 0.2rem;
}
.form-control input {
  width: 100%;
  padding: 0.5rem;
}
.form-control textarea {
  width: 100%;
  padding: 0.5rem;
}
.send-message {
  padding: 1rem;
  color: #fff;
  background-color: black;
  cursor: pointer;
}

.modal-exit {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 5000;
  cursor: pointer;
}

/* Contact Form Modal */
/* For Mobile */
@media (max-width: 800px) {
  /* Overlay */
  .contact-form-modal {
    position: fixed;
    height: 400px;
    max-height: 100%;
    width: 100%;
    background: #fff;
    left: 0;
    right: 0;
    z-index: 5000;
    overflow: hidden;
  }
  /* Modal */
  #contact-form {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  /* Fade Modal In */
  .contact-form {
    animation-name: fadeModal;
    animation-duration: 1s;
  }
  @keyframes fadeModal {
    /* Set and change the transparency: */
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  #contact-form p:first-of-type {
    padding-bottom: 1rem;
  }
  #contact-form p:last-of-type {
    display: none;
  }
  .form-control {
    padding: 0.2rem;
  }
  .form-control input {
    width: 100%;
    padding: 0.5rem;
  }
  .form-control textarea {
    width: 100%;
    padding: 0.5rem;
  }
  .send-message {
    padding: 2rem;
  }

  /* Checkbox */
  .checbox-container-container {
    display: flex;
    padding: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .checkbox {
    padding: 5re;
  }

  .form-text {
    display: block;
    padding-top: 0.5rem;
  }
  /* Create a custom checkbox */
  /* Customize the label (the container) */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #2196f3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

li,
a {
  text-decoration: none;
  color: var(--clr-codgray);
}

.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 1.5rem);
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 4rem;
}

/* **************** */
/* Fallback CSS - FIREFOX */
/* **************** */
/* white background fallback */
.backdrop-blur {
  background-color: #fff;
}

#contact-form {
  background-color: #fff;
}

/* if backdrop support: glassmorphism background effect */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    background: hsl(var(--clr-codgray) / 0.95);
  }
  #contact-form {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
  }
}

/* **************** */
/* Mobile Phone Landscape */
/* **************** */
/* @media screen and (orientation: landscape) and (min-device-width: 320px) and (max-device-width: 460px) {
  .hero-content img {
    max-width: 50%;
    padding: 0;
  }

  .hero-text {
    max-width: 50%;
  }
} */

/* **************** */
/* Samsung Galaxy Media Query - 400px to 560px */
/* should fix everything from 400px up to 560px */
/* **************** */

@media (min-width: 400px) {
  @-moz-document url-prefix() {
  }
  .story-1 article h1,
  .story-2 article h1,
  .story-3 article h1 {
    font-size: var(--fs-500);
    font-weight: 600;
  }
}

/* **************** */
/* MOBILE MEDIA QUERY MAX 560PX*/
/* **************** */
@media (max-width: 560px) {
  /* Header & Nav */
  .logo {
    margin: 1rem;
    min-width: 10rem;
    max-width: 16rem;
  }

  .primary-header {
    justify-content: space-between;
    align-items: center;
  }

  .primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    /* background: hsl(var(--clr-codgray) / 0.95);
    backdrop-filter: blur(2rem); */
  }

  .primary-navigation a {
    text-decoration: none;
  }

  .contact-btn {
    background-color: transparent;
    color: inherit;
    padding: 0;
    border-radius: 0;
  }
  .primary-navigation a > span {
    font-weight: 800;
    margin-right: 0.5em;
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
  }

  .primary-navigation {
    --underline-gap: 0.5rem;
    position: fixed;
    z-index: 3000;
    inset: 0 0 0 50%;
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 3001;
    right: 1rem;
    top: 1rem;

    background-image: url(./assets/images/shared/icon-hamburger.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(0) sepia(79%) saturate(26%) hue-rotate(86deg) brightness(18%)
      contrast(19%);
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }

  .primary-navigation .nav-item:hover {
    color: var(--clr-braveorange);
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(./assets/images/shared/icon-close.svg);
  }

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }

  .desktop-navigation {
    display: none;
  }

  /* ------------------------ */
  /* Layout                   */
  /* ------------------------ */

  /* Hero Section */
  .hero {
    background-image: url(assets/images/HospoHound_Header.jpg);
    background-size: cover;
    max-height: 100%;
  }
  .hero-content {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero-content img {
    overflow: hidden;
    max-width: 80%;
    max-height: 100%;
    justify-content: center;
    padding: 2rem;
  }

  .hero-text {
    padding: 2rem 2rem 4rem 2rem;
    /* padding: calc(8px + 1.5625vw); */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
      transparent 0%,
      whitesmoke 5%,
      whitesmoke 90%,
      whitesmoke 100%
    );
    text-align: center;
  }

  .hero-text h1 {
    font-weight: 600;
    font-family: "Spartan";
  }

  .hero-text .btn {
    padding: 1rem;
    cursor: pointer;
  }

  /* Story Brand Section */

  .story-brand {
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .story-brand * img {
    max-width: 40vw;
    max-height: 80vh;
  }

  .story-1,
  .story-2,
  .story-3 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    text-align: center;
    padding-bottom: 3rem;
    background-image: url(./assets/images/pattern-curve-top-right.svg);
    background-position: center;
    background-position-y: 10em;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 100vw;
  }

  .story-1 h1,
  .story-2 h1,
  .story-3 h1 {
    font-size: var(--fs-700);
    font-weight: 500;
  }

  .story-2 {
    flex-direction: column-reverse;
  }

  .story-3 {
    padding-bottom: 5rem;
  }

  /* Modern Tools Section */
  .modern-tools {
    overflow: hidden;
    height: 100%;
    background-image: url(assets/images/HospoHound_ModernWorldImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background: rgba(rgb(5, 5, 5), rgb(3, rgb(0, 0, 0)), rgb(0, 0, 0), 0.3);
  }

  .modern-tools img {
    position: absolute;
    width: 100%;
    left: 0;
    object-fit: contain;
    margin-top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0.6;
    z-index: -1;
  }

  .modern-tools .text {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    z-index: 2000;
    flex-direction: column;
    background: #ffffffaf;
  }

  .text h1 {
    text-align: center;
  }
  /* Portfolio Section */
  .portfolio {
    display: none;
  }
  .mobile-portfolio {
    display: block;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    background-color: var(--clr-codgray);
    padding: 4rem 0 4rem 0;
  }

  .project {
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    gap: 0.2rem;
  }

  .project i {
    padding: 0.5rem;
    color: rgba(255, 255, 255, 0.692);
    display: none;
  }

  .mobile-portfolio h2 {
    padding: 2rem;
    text-align: center;
    color: #fff;
  }

  .description-container {
    color: #fff;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .selection-lines {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .selection-lines span {
    width: 5rem;
    height: 0.5px;
    color: #fff;
    padding: 0.25rem;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 5px;
    cursor: pointer;
  }
  .selection-lines span:hover {
    background-color: rgba(236, 122, 122, 0.404);
  }
  .selection-lines .active-line {
    width: 5rem;
    height: 0.5px;
    color: #fff;
    padding: 0.25rem;
    background-color: var(--clr-braveorange);
    border-radius: 5px;
  }

  .description-container h1 {
    padding: 1rem;
  }

  .description-container p {
    padding: 1rem;
    padding-top: 0;
    text-align: center;
  }

  /* Slide animation: */
  .slider .item {
    animation-name: fade;
    animation-duration: 2.5s;
  }
  /* Text animation */
  .info__wrapper {
    animation-name: fade;
    animation-duration: 2.2s;
  }
  @keyframes fade {
    /* Set and change the transparency: */
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade2 {
    /* Set and change the transparency: */
    from {
      opacity: 0.3;
    }
    to {
      opacity: 1;
    }
  }

  /* About Us Section */
  .about-us {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-us > img {
    padding: 1rem;
    padding-top: 5rem;
    max-width: 60%;
    min-width: 40%;
  }

  .about-us > article {
    padding: 1rem;
    padding-bottom: 5rem;
  }
  /* Final CTA Section */
  .final-cta {
    background-image: url(./assets/images/HospoHound_ServeupaStorm.jpg);
    background-repeat: no-repeat;
    background-position: 10% 35%;
    background-size: cover;
    padding: 2rem;
  }

  .final-cta .flex {
    justify-content: space-between;
    flex-direction: column;
  }

  .final-cta h1 {
    color: #ffffff;
    font-weight: 500;
  }

  .text-container {
    padding: 0.5rem;
    white-space: wrap;
    align-items: center;
  }

  .text-container .btn {
    padding: 1rem;
    width: fit-content;
    cursor: pointer;
    font-size: var(--fs-200);
    font-weight: 600;
  }

  /* Footer Section */
  footer {
    background-color: var(--clr-codgray);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 1rem 2rem 1rem 2rem;
  }

  footer p:first-of-type {
    display: none;
  }

  footer div:first-child {
    padding: 0.5rem;
  }

  footer p:last-child {
    display: none;
  }

  footer img {
    max-width: 80%;
    padding-top: 1rem;
  }

  /* .footer > div {
    margin: 0;
  } */

  .footer-nav {
    padding: 0rem;
    gap: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .footer-nav-item {
    /* text-align: center;
    align-items: center;
    justify-content: center; */
    padding-left: 0;
  }

  .footer-nav-item:hover {
    color: var(--clr-braveorange);
    cursor: pointer;
  }

  /* .footer-nav ul:not-first-child {
    padding-inline-start: 40px;
  } */

  .footer-logo {
    align-items: center;
    justify-content: center;
  }

  .social-icons {
    justify-content: center;
    padding-bottom: 1rem;
  }
}

/* **************** */
/* TABLET MEDIA QUERY MIN of 560PX*/
/* **************** */
@media (min-width: 560px) {
  /* Header & Nav */
  .logo {
    margin: 1rem;
    min-width: 10rem;
    max-width: 16rem;
  }

  .primary-header {
    justify-content: space-between;
    align-items: center;
  }

  .desktop-navigation {
    display: none;
  }
  .primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-600);
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(var(--clr-codgray) / 0.95);
    backdrop-filter: blur(2rem);
  }

  .primary-navigation a {
    text-decoration: none;
  }

  .contact-btn {
    background-color: transparent;
    color: inherit;
    padding: 0;
    border-radius: 0;
  }
  .primary-navigation a > span {
    font-weight: 800;
    margin-right: 0.5em;
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
  }

  .primary-navigation {
    --underline-gap: 0.5rem;
    position: fixed;
    z-index: 3000;
    inset: 0 0 0 0%;
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 3001;
    right: 1rem;
    top: 1rem;

    background-image: url(./assets/images/shared/icon-hamburger.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(0) sepia(79%) saturate(26%) hue-rotate(86deg) brightness(18%)
      contrast(19%);
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }

  .primary-navigation .nav-item:hover {
    color: var(--clr-braveorange);
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(./assets/images/shared/icon-close.svg);
  }

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }

  /* ------------------------ */
  /* Layout                   */
  /* ------------------------ */

  /* Hero Section */
  .hero {
    background-image: url(assets/images/HospoHound_Header.jpg);
    background-size: cover;
    max-height: 100%;
  }
  .hero-content {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero-content img {
    max-width: 70%;
    justify-content: center;
    padding: 2rem;
    overflow: hidden;
  }

  .hero-text {
    padding: 2rem 2rem 4rem 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
      transparent 0%,
      whitesmoke 5%,
      whitesmoke 90%,
      whitesmoke 100%
    );
    text-align: center;
  }

  .hero-text h1 {
    font-weight: 600;
    font-family: "Spartan";
  }

  .hero-text .btn {
    padding: 1rem;
    cursor: pointer;
  }

  /* Story Brand Section */

  .story-brand {
    flex-direction: column;
  }

  .story-brand * img {
    max-width: 30vw;
    max-height: 60vh;
  }

  .story-1,
  .story-2,
  .story-3 {
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    text-align: center;
    padding-bottom: 3rem;
    background-image: url(./assets/images/pattern-curve-top-right.svg);
    background-position: center;
    background-position-y: 10em;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 100vw;
  }

  .story-1 h1,
  .story-2 h1,
  .story-3 h1 {
    font-size: var(--fs-600);
    font-weight: 500;
  }

  .story-brand {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .story-2 {
    flex-direction: column-reverse;
  }

  .story-3 img {
    padding-top: 1.5rem;
  }

  /* Modern Tools Section */
  .modern-tools {
    overflow: hidden;
    height: 100%;
    background-image: url(assets/images/HospoHound_ModernWorldImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background: rgba(rgb(5, 5, 5), rgb(3, rgb(0, 0, 0)), rgb(0, 0, 0), 0.3);
  }

  .modern-tools img {
    position: absolute;
    width: 100%;
    left: 0;
    object-fit: contain;
    margin-top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0.6;
    z-index: -1;
  }

  .modern-tools .text {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    z-index: 2000;
    flex-direction: column;
    background: #ffffffaf;
  }

  .text h1 {
    text-align: center;
  }
  .text p {
    font-weight: 500;
  }
  /* Portfolio Section */
  .portfolio {
    display: none;
  }
  .mobile-portfolio {
    display: block;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    background-color: var(--clr-codgray);
    padding: 4rem 0 4rem 0;
  }

  .project {
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    gap: 0.2rem;
  }

  .project i {
    padding: 0.5rem;
    color: rgba(255, 255, 255, 0.692);
    display: none;
  }

  .mobile-portfolio h2 {
    padding: 2rem;
    text-align: center;
    color: #fff;
  }

  .description-container {
    color: #fff;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .selection-lines {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .selection-lines span {
    width: 5rem;
    height: 0.5px;
    color: #fff;
    padding: 0.25rem;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 5px;
    cursor: pointer;
  }
  .selection-lines span:hover {
    background-color: rgba(236, 122, 122, 0.404);
  }
  .selection-lines .active-line {
    width: 5rem;
    height: 0.5px;
    color: #fff;
    padding: 0.25rem;
    background-color: var(--clr-braveorange);
    border-radius: 5px;
  }

  .description-container h1 {
    padding: 1rem;
  }

  .description-container p {
    padding: 1rem;
    padding-top: 0;
    text-align: center;
  }

  /* About Us Section */
  .about-us {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-us > img {
    padding: 1rem;
    padding-top: 5rem;
    max-width: 50%;
    min-width: 25%;
  }

  .about-us > article {
    padding: 1rem;
    padding-bottom: 5rem;
  }
  /* Final CTA Section */
  .final-cta {
    background-image: url(./assets/images/HospoHound_ServeupaStorm.jpg);
    background-repeat: no-repeat;
    background-position: 10% 35%;
    background-size: cover;
    padding: 2rem;
  }

  .final-cta .flex {
    justify-content: space-between;
    flex-direction: column;
  }

  .final-cta h1 {
    color: #ffffff;
    font-size: var(--fs-600);
    font-weight: 800;
  }

  .text-container {
    padding: 0.5rem;
    white-space: wrap;
    align-items: center;
  }

  .text-container .btn {
    padding: 1rem;
    width: fit-content;
    cursor: pointer;
    font-size: var(--fs-200);
    font-weight: 800;
  }

  /* Footer Section */
  footer {
    background-color: var(--clr-codgray);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 1rem 2rem 1rem 2rem;
  }

  footer p:first-of-type {
    display: none;
  }

  footer div:first-child {
    padding: 0.5rem;
  }

  footer p:last-child {
    display: none;
  }

  footer img {
    max-width: 80%;
    padding-top: 1rem;
    /* flex-shrink: 1; */
  }

  /* .footer > div {
    margin: 0;
  } */

  .footer-nav {
    padding: 0rem;
    gap: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;
  }

  .footer-nav-item {
    /* text-align: center;
    align-items: center;
    justify-content: center; */
    padding-left: 0;
  }

  .footer-nav-item:hover {
    color: var(--clr-braveorange);
    cursor: pointer;
  }

  /* .footer-nav ul:not-first-child {
    padding-inline-start: 40px;
  } */

  .footer-logo {
    align-items: center;
    justify-content: center;
  }

  .social-icons {
    justify-content: center;
    padding-bottom: 1rem;
  }
}

/* ******************** */
/* DESKTOP MEDIA QUERY */
/* ******************** */
@media (min-width: 800px) {
 
  /* ------------------------ */
  /* DESKTOP */
  /* ------------------------ */
  /* Contact Form Desktop */
/* Overlay */
.contact-form-modal {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  margin: auto 0;
  height: 500px;
  width: 500px;

  z-index: 5000;
}
/* Modal */

#contact-form {
  overflow: hidden;
  height: 80vh;
  width: 80vw;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: absolute;
  margin: 0 auto;
  padding: calc(8px + 1.5625vw);
  display: grid;
  justify-content: center;
  text-align: center;
}


  /* Contact Modal */
  .contact-form {
    width: 100%;
    height: 100%;
  }

  .contact-form p {
    padding: 1rem;
  }

  .contact-form-modal {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
  }

  #ajaxForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }

  .form-control {
    padding: 0.2rem;
    max-width: 100%;
  }

.item-e {
  grid-column: 1/3;
}

.item-f {
  grid-column: 1/3
}

.item-g {
  grid-column: 1/3;
}

  .form-control input {
    max-width: 100%;
    padding: 0.5rem;
  }
  .form-control textarea {
    max-width: 80%;
    padding: 0.5rem;
    resize: none;
  }

  .modal-exit {
    position: absolute;
    top: 8rem;
    right: 10rem;
  }

  .send-message {
    padding: 1rem;
    color: var(--clr-codgray);
    background-color: #fff;
    cursor: pointer;
    font-size: var(--fs-300);
    max-width: 50%;
    white-space: nowrap;
  }
  .contact-form {
    animation-name: fadeModal;
    animation-duration: 1.7s;
  }
  @keyframes fadeModal {
    /* Set and change the transparency: */
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  /* **************** */
/* Fallback CSS - FIREFOX */
/* **************** */
/* white background fallback */
.backdrop-blur {
  background-color: #fff;
}

#contact-form {
  background-color: #fff;
}

/* if backdrop support: glassmorphism background effect */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    background: hsl(var(--clr-codgray) / 0.95);
  }
  #contact-form {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
  }
}
  /* primary-header */
  .logo {
    margin: 0;
  }

  .logo img {
    padding: 2rem;
    width: 20rem;
    min-width: 10rem;
    max-width: 16rem;
  }

  .primary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .mobile-nav-toggle {
    display: none;
  }

  .primary-navigation {
    display: none;
  }

  .desktop-navigation {
    display: block;
    padding-right: 2rem;
  }

  .desktop-navigation nav ul {
    text-decoration: none;
    list-style: none;
    flex-direction: row;
    font-weight: 500;
    font-size: var(--fs-200);
    white-space: nowrap;
  }

  .desktop-navigation nav ul li:last-child {
    padding-left: 2rem;
  }

  .nav-item * {
    padding-left: 2rem;
  }

  .desktop-navigation .nav-item:hover {
    color: var(--clr-braveorange);
  }

  .contact-btn {
    background-color: var(--clr-codgray);
    color: #ffffff;
    padding: 0.8rem;
    border-radius: 2rem;
  }

  /* ------------------------ */
  /* Layout                   */
  /* ------------------------ */
  /* Hero Section */
  .hero {
    background-image: url(assets/images/HospoHound_Header.jpg);
    background-size: cover;
    height: 75vh;
  }
  .hero-content {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  .hero-content img {
    max-width: 40%;
    min-width: 20%;
    justify-content: center;
    padding: 2rem;
    flex: 1 1 auto;
    overflow: hidden;
  }

  .hero-text {
    width: clamp(15vw, 70rem, 60%);
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: transparent;
    padding: 2rem;
  }
  .hero-text h1 {
    font-size: clamp(3.5vw, 5rem, 20%);
    font-weight: 600;
  }
  .hero-text p {
    white-space: nowrap;
    font-size: clamp(12px, 16px, 18px);
  }
  .hero-text .btn {
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
    font-size: var(--fs-200);
    font-weight: 500;
  }

  /* Story Brand Section */
  .story-brand {
    flex-direction: column;
  }

  .story-brand * img {
    max-width: 30%;
  }

  .story-brand h1 {
    font-weight: 600;
    line-height: 3rem;
  }

  .story-1,
  .story-2,
  .story-3 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6rem 10rem 6rem 0rem;
    gap: 1rem;
  }

  .story-1,
  .story-3 {
    padding: 6rem 10rem 6rem 0;
    gap: 1.2rem;
    background-image: url(./assets/images/pattern-curve-top-right.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-y: 6em;
    background-position-x: 0;
  }

  .story-2 {
    padding: 6rem 10rem 6rem 10rem;
    gap: 1rem;
    background-position-y: 6em;
    background-position-x: 10em;
  }

  .story-1 h1,
  .story-1 p,
  .story-3 h1,
  .story-3 p {
    width: 22rem;
    text-align: left;
  }

  .story-1 article,
  .story-3 article {
    line-height: 1.5rem;
  }

  .story-2 h1,
  .story-2 p {
    width: 22rem;
    text-align: right;
  }

  .story-2 article {
    line-height: 1.5rem;
  }

  .story-2 article img {
    border: outline red 1px;
  }

  /* Modern Tools Section */
  .modern-tools {
    background-color: hsl(0, 0%, 7%);
    color: #ffffff;
    overflow: hidden;
  }

  .modern-tools img {
    display: block;
  }

  .modern-tools .text {
    display: block;
  }

  /* Portfolio Section */
  .mobile-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 1rem;
    background-color: #fff;
    font-weight: 700;
  }

  .mobile-portfolio p,
  .mobile-portfolio h1,
  .mobile-portfolio h2 {
    color: hsl(var(--clr-codgray));
  }

  .description-container h1,
  .description-container p {
    color: black;
  }

  .selection-lines span {
    background-color: black;
    color: black;
    width: 10px;
    height: 5px;
  }

  .project img {
    max-width: 80vw;
    min-width: 40vw;
    height: auto;
  }

  .project i {
    padding: 0.5rem;
    color: rgba(0, 0, 0, 0.692);
    display: block;
    cursor: pointer;
  }

  .mobile-portfolio h2 {
    padding: 2rem;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .description-container {
    color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
    min-width: 40vw;
    text-align: center;
  }

  .selection-lines {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .selection-lines span {
    width: 5rem;
    height: 0.5px;
    color: #fff;
    padding: 0.25rem;
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 5px;
    cursor: pointer;
  }
  .selection-lines span:hover {
    background-color: rgba(236, 122, 122, 0.404);
  }
  .selection-lines .active-line {
    width: 5rem;
    height: 0.5px;
    color: #fff;
    padding: 0.25rem;
    background-color: var(--clr-braveorange);
    border-radius: 5px;
  }

  /* The picture is scaled in relation to the parent element: */
  .slider .item img {
    /* The element is resized to fill the block and maintain proportions: */
    object-fit: cover;
    width: 100%;
    height: 300px;
  }

  /* When you hover over the buttons, add the background of the buttons: */
  .previous:hover,
  .next:hover {
    color: var(--clr-braveorange);
  }
  /* Slide animation: */
  .slider .item {
    animation-name: fade;
    animation-duration: 2.5s;
  }
  @keyframes fade {
    /* Set and change the transparency: */
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  /* About Us Section */
  .about-us {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* .about-us-content {
    display: absolute;
  }

  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 10%;
  } */

  .about-us > img {
    padding: 6rem 6rem 0rem 6rem;
    width: clamp(50%, 30rem, 50vw);
  }

  .about-us > article {
    padding: 2rem 8rem 2rem 8rem;
  }

  /* Final CTA Section */
  .final-cta {
    background-image: url(./assets/images/HospoHound_ServeupaStorm.jpg);
    background-repeat: no-repeat;
    background-position: 10% 35%;
    background-size: cover;
    padding: 6rem;
    justify-content: space-between;
    flex-direction: row;
  }

  .final-cta h1 {
    color: #ffffff;
    font-weight: 600;
    font-size: clamp(0.3rem, 5vw, 2rem);
    white-space: nowrap;
  }

  .text-container button {
    font-size: clamp(0.4rem, 4vw, 0.7rem);
    width: clamp(0.4rem, 4vw, 0.7rem);
    font-weight: 600;
    padding: 1.5rem;
    cursor: pointer;
    white-space: nowrap;
  }

  /* Footer Section */
  footer {
    background-color: var(--clr-codgray);
    color: #ffffff;
    padding: 4rem;
    /* padding-block: min(10vh, 4rem);
    padding-left: min(5vw, 2rem);
    padding-right: min(5vw, 2rem); */
    gap: 4rem;
    flex-direction: row;
  }

  .footer-logo {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: min(600px, 50%);
  }

  footer div:first-child {
    padding: 0rem;
  }
  /* 
  footer div:last-child {
  } */

  .footer-nav {
    padding: 2rem;
    flex-wrap: nowrap;
    white-space: nowrap;
    height: fit-content;
    max-width: 100%;
    gap: 1rem;
  }

  .footer-nav-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-nav-item:hover {
    color: var(--clr-braveorange);
  }

  .footer-nav ul {
    cursor: pointer;
    justify-self: flex-start;
    font-size: 0.8rem;
    gap: 1rem;
  }

  .footer-logo p {
    display: block;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
  }

  .footer img {
    padding-top: 0;
  }

  footer p:first-of-type {
    display: block;
  }

  footer p:last-child {
    display: block;
  }

  footer p {
    text-align: left;
  }

  .social-icons {
    justify-content: flex-end;
    padding-right: 4rem;
  }

  .social-icons i {
    cursor: pointer;
  }
}

/* Media Query Footer Nav Direction */
@media (min-width: 800px) and (max-width: 910px) {
  .desktop-navigation {
    padding-right: 1;
    align-items: center;
  }
  .desktop-navigation nav ul li:last-child {
    padding-left: 0;
  }
  .footer {
    justify-content: flex-start;
    column-gap: 10%;
    width: 100%;
    padding: 4rem;
  }

  .footer-nav-icons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    /* max-width: 100%; */
    /* flex-wrap: wrap; */
  }

  .footer-nav ul {
    padding-bottom: 0;
  }
  .footer-nav {
    flex-direction: column;
    gap: 0;
  }
  .social-icons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

/* Large Desktop Media Query */
@media (min-width: 1200px) {
}
